.edit-heading .edit-link {
    line-height: 3.4;
    position: absolute;
    align-self: end;
    margin-left: 2rem;
}

.edit-link {
    font-size: 1rem;
    font-weight: 400;
}

.card-controls {
    display: grid;
    justify-items: center;
    margin-top: 2rem;
}