@use '../helpers/media-query' as mq;
.table-box {
    width: 100%;
    max-width: fit-content;
    overflow:auto;
    margin: auto;
    box-shadow: 10px 10px 20px 0px #000;
}

.card-list {
   
    background-color: #1e242e;
    margin: auto;
    min-width: 410px;
    
    th,
    td {
        padding: .5rem;
    }

    thead {
        color: #c8c8c8;
    }

    tbody {
        background-color: #354152;

        tr:nth-child(even) {
            background-color: #435268;
        }
    }

    .card-img--small {
        display: grid;
        width: 66px;
        height: 66px;
        justify-items: center;
        align-items: center;

        img {
            max-height: 50px;
            max-width: 50px;
        }
    }

    .edit-btn {
        color: #378f7b;
        padding: .5rem;

        &:hover {
            border-radius: 50%;
            outline: 1px solid black;
        }
    }

    .delete-btn {
        all: unset;
        color: #8f3737;
        cursor: pointer;
        padding: .5rem;
     
        &:hover {
            border-radius: 50%;
            outline: 1px solid black;
        }
    }
}

.card-small {
    
    position: relative;
    display: grid;
    padding: 1rem;
    gap: 1rem;

    > a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: pointer;
    }

    .card-img {
        max-height: 100px;
        justify-self: center;
    }

    dl {
        width: 100%;
        margin: 0 1rem;
        display:grid;
        grid-template-columns: max-content 1fr;
        gap: .5rem;
        z-index: 1;
        dt {
            font-weight: 600;
            position: relative;
            padding-right: .5rem;
            text-transform: uppercase;

            &:after {
                content: ":";
                position: absolute;
                right: 0; 
            }
        }
    }
}