@use '../helpers/media-query' as mq;

.dashboard {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1rem;

    @include mq.set-breakpoint('large') {
        grid-template-columns: max-content max-content;
        gap: 3rem;
    }
}