.form-container {
    display: flex;
    height: 100%;
}

.form {
    box-shadow: 10px 10px 20px 0px #000;
    margin: auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    background-color: #1e242e;

    label {
        display: grid;
        grid-template-columns: 7rem 1fr;
        align-items: center;
        gap: .5rem;
        width: 100%;

        span {
            color: #c8c8c8;
            font-weight: 600;
            position: relative;
            padding-right: 10px;

            &::after {
                content: ":";
                position: absolute;
                right: 0;
            }
        }

        select,
        input {
            color: #c8c8c8;
            width: 100%;
            border: 1px solid #242c37;
            border-radius: 999px;
            background-color: #354152;
            text-align: center;
            outline: 0;
            padding: 0.5rem 1rem;

            /* Change Autocomplete styles in Chrome*/
            &:-webkit-autofill,
            &:-webkit-autofill:hover, 
            &:-webkit-autofill:focus
            {
                -webkit-text-fill-color: #c8c8c8;
                transition: background-color 5000s ease-in-out 0s;
            }

        }

        option {
            color: #c8c8c8;
        }

    }

    button {
        outline: 0;
        padding: 0.5rem 1rem;
        border: 1px solid #242c37;
        border-radius: 999px;
        background-color: transparent;
        text-align: center;
        background-image: linear-gradient(160deg, #8ceabb 0%, #378f7b 100%);
        color: black;
        width: 100%;
    }     

    .edit-controls {
        display: grid;
        gap: 10rem;
        grid-template-columns: 1fr 1fr;

        button:last-of-type {
            justify-self: right;
            background-image: linear-gradient(160deg, #ea8c8c 0%, #8f3737 100%);
        }
    }
}